body{
    font-family: Papyrus,fantasy;
    text-align:center;
    margin: auto;
    background-color: #FFC090;
}

h1{
    font-size: 70px;
    
    
}

.bg {
  background: url(img/pizza.jpg) repeat;
  border: 5px solid #000;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
}

.frame  
{
position: relative;
padding-bottom: 2.25%;
padding-top: 10px;
height: 0;
overflow: hidden;
font-weight: bold;

}
.frame iframe 
{
position: absolute;
top: 0;
left: 0;
height:100%;
width:100%;
text-align: center;
font-weight: bold;
border:none;
}
footer{
    text-align: center;
    width: 960px;
    margin: 0 auto; /* This aligns the section in the center */
  
   
    
}